In [59]:
import pandas as pd

In [60]:
df = pd.read_csv("solicitudes_credito.csv", sep=";")
df.head()

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,COMERCIO,charcuteria,manrique central no. 2,1,3.0,28/12/2017,7000000,microempresarial
1,masculino,comercio,distribuidora de,santa lucia,2,12.0,16/03/2018,"$ 7,000,000.00",microempresarial
2,masculino,comercio,tienda,belen,3,16.0,2018/02/14,7800000,microempresarial
3,masculino,servicio,organización y,robledo,2,7.0,8/09/2016,1500000,microempresarial
4,masculino,servicio,COMIDAS RAPIDAS,20 de julio,2,13.0,20/12/2016,3000000,microempresarial

In [61]:
# df = df.drop(columns=["Unnamed: 0"])

In [62]:
df["sexo"] = df["sexo"].str.lower()
df["tipo_de_emprendimiento"] = df["tipo_de_emprendimiento"].str.lower()
df["idea_negocio"] = df["idea_negocio"].str.lower()
df["barrio"] = df["barrio"].str.lower()
df["línea_credito"] = df["línea_credito"].str.lower()

In [63]:
df["monto_del_credito"] = df["monto_del_credito"].str.replace("$ ", "").str.replace(r",", "").astype(float).astype(int)

In [65]:
df = df.drop_duplicates()

In [66]:
df.head()

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,comercio,charcuteria,manrique central no. 2,1,3.0,28/12/2017,7000000,microempresarial
1,masculino,comercio,distribuidora de,santa lucia,2,12.0,16/03/2018,7000000,microempresarial
2,masculino,comercio,tienda,belen,3,16.0,2018/02/14,7800000,microempresarial
3,masculino,servicio,organización y,robledo,2,7.0,8/09/2016,1500000,microempresarial
4,masculino,servicio,comidas rapidas,20 de julio,2,13.0,20/12/2016,3000000,microempresarial

In [67]:
df.sexo.value_counts()

sexo
femenino     6809
masculino    3717
Name: count, dtype: int64